p: input.form-control.search-query(type='text', ng-model='search', placeholder='Search')
table.table.table-striped
  thead
    tr
      th Project
      th Description
      th
        a(href='#/new'): span.glyphicon.glyphicon-plus-sign
  tbody
    tr(ng-repeat="project in projects | orderByPriority | filter:search | orderBy:'name'")
      td
        a(href="{{project.site}}", target="_blank") {{project.name}}
      td {{project.description}}
      td
        a(href="#/edit/{{project.$id}}")
          span.glyphicon.glyphicon-pencil
