extends layout

block content
  h1: span.glyphicon.glyphicon-heart
  p Welcome to Mimosa
  if optimize
    p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.