.main {
  footer {
    margin: 10px 0;
  }
}

.playlist {
  tr {
    height: 47px;
  }
  .btn-delete {
    position: relative;
    top: 3px;
  }
}

.commands-list {
  font-size: 130%;
  .label {
    margin-bottom: 5px;
  }
}