@import "vendor/bootstrap/dist/css/bootstrap.css";
//@import "vendor/todomvc-common/base.css";

.playlist {
  tr {
    height: 52px;
  }
  .view {
    display: block;
  }
  .edit {
    display: none;
  }
  .editing {
    .view {
      display: none;
    }
    .edit {
      display: block;
    }
  }
}

.commands-list {
  font-size: 120%;
}