@import "vendor/bootstrap/dist/css/bootstrap.css";
//@import "vendor/todomvc-common/base.css";

.playlist {
  tr {
    height: 47px;
  }
  .btn-delete {
    position: relative;
    top: 3px;
  }
}

.commands-list {
  font-size: 120%;
}